{% extends 'base.html.twig' %}

{% block title %} {{ blogpost.title }} - SuperBlog {% endblock %}

{% block body %}

    <div class="container my-5">
        {# <h1 class="my-5 text-white">{{ blogpost.title }}</h1> #}
        <div class="row">
            <div class="col-sm-8 my-5">
                <div class="card">

                    {# <img class="card-img-top" src="https://via.placeholder.com/1920x1080" alt="Card image cap"> #}
                    
                    <div class="card-body">
                            <h5 class="card-title">{{ blogpost.title }}</h5>
                    
                        <p class="card-text">{{ blogpost.description }}</p>
                        <p class="card-text">
                            <small class="text-muted "><i class="fas fa-eye"></i> {{ blogpost.views }} <br></small> 
                            <small class="text-muted">Posted {{ blogpost.date }} ago</small>
                        </p>                
                    </div>
                    
                </div>
                <a href="/" class="btn bg-white mt-3"><i class="fas fa-angle-left"></i> Back</a>
            </div>
            <div class="col-sm-4 my-5">
                <h5 class="text-white mb-3">Random posts that you might like!</h5>

                {% for post in random %}
                    <a class="card mb-3" href="/blog/{{ post.id }}">

                        {# <img class="card-img-top" src="https://via.placeholder.com/1920x1080" alt="Card image cap"> #}
                        
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                        
                            <p class="card-text">{{ post.description }}</p>
                            <p class="card-text">
                                <small class="text-muted "><i class="fas fa-eye"></i> {{ post.views }} <br></small> 
                                <small class="text-muted"></small>
                            </p>                
                        </div>
                    </a>
                {% endfor %}

            </div>
        </div>
    </div>


{% endblock %}