{% extends 'base.html.twig' %}

{% block title %} {{ blogpost.title }} - SuperBlog {% endblock %}

{% block body %}

    <div class="container my-5">
        <div class="row">
            <div class="col-sm-12 my-5">

                <table class="table table-light">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Id</th>
                            <td>{{ blogpost.id }}</td>
                        </tr>
                        {# <tr>
                            <th scope="row">Image</th>
                            <td style="width: 50%"><img class="img-fluid" src="https://via.placeholder.com/1920x1080" alt="Card image cap"></td>
                        </tr> #}
                        <tr>
                            <th scope="row">Title</th>
                            <td>{{ blogpost.title }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Description</th>
                            <td>{{ blogpost.description }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Content</th>
                            <td>{{ blogpost.content }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Creation date</th>
                            <td>{{ blogpost.date | date('d/m/Y')}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Views</th>
                            <td>{{ blogpost.views }}</td>
                        </tr>
                    </tbody>
                </table>
                                        
                <a href="/admin-panel" class="btn bg-white mt-3"><i class="fas fa-angle-left"></i> Back</a>
            </div>
      
        </div>
    </div>


{% endblock %}